services:
  terraform:
    image: hashicorp/terraform:1.6.4
    container_name: terraform-runner
    restart: unless-stopped
    working_dir: /workspace
    user: "${UID}:${GID}"
    volumes:
      - .:/workspace
      - ~/.ssh:/root/.ssh:ro
      - terraform_cache:/root/.terraform.d/plugin-cache
    environment:
      - TF_CACHE_PLUGIN_CACHE_DIR=/root/.terraform.d/plugin-cache
    networks:
      - infra-network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    profiles:
      - tools

  ansible:
    build:
      context: ./scripts
      dockerfile: Dockerfile
    image: custom-ansible:latest
    container_name: ansible-runner
    restart: unless-stopped
    working_dir: /workspace
    volumes:
      - .:/workspace
      - ~/ssh:/root/ssh
      - ansible_cache:/root/.ansible
    networks:
      - infra-network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    profiles:
      - tools

volumes:
  terraform_cache:
  ansible_cache:

networks:
  infra-network:
    driver: bridge
