- name: Install WireGuard
  apt:
    name: wireguard
    update_cache: yes

- name: Configure WireGuard
  copy:
    dest: /etc/wireguard/wg0.conf
    content: |
      [Interface]
      PrivateKey = {{ wg_private_key }}
      Address = 10.0.3.1/24
      ListenPort = 51820
      [Peer]
      PublicKey = {{ wg_public_key_peer }}
      Endpoint = <remote-peer>:51820
      AllowedIPs = 0.0.0.0/0

- name: Enable and start WireGuard
  systemd:
    name: wg-quick@wg0
    enabled: yes
    state: started
