base_media_path: /mnt/media
timezone: "UTC"


vault_addr: "http://192.168.50.169:8200"
vault_token: "{{ lookup('env', 'VAULT_TOKEN') }}"

- name: Check if qBittorrent Vault secret exists
  community.hashi_vault.hashi_vault:
    url: "{{ vault_addr }}"
    token: "{{ vault_token }}"
    secret: "secret/data/secret/qbittorrent"
  register: qbittorrent_secret
  ignore_errors: true

- name: Generate qBittorrent credentials and store in Vault
  when: qbittorrent_secret.failed
  block:
    - name: Generate random username
      set_fact:
        qbittorrent_generated_user: "admin"

    - name: Generate random password
      community.general.password:
        length: 16
        special: true
      register: qbittorrent_generated_password

    - name: Write qBittorrent secret to Vault
      community.hashi_vault.hashi_vault_write:
        url: "{{ vault_addr }}"
        token: "{{ vault_token }}"
        path: "secret/data/secret/qbittorrent"
        data:
          data:
            username: "{{ qbittorrent_generated_user }}"
            password: "{{ qbittorrent_generated_password.password }}"

qbittorrent_user: >-
  {{ lookup('community.hashi_vault.hashi_vault',
    'secret=secret/data/secret/qbittorrent:username token=' ~ vault_token ~ ' url=' ~ vault_addr) }}
qbittorrent_password: >-
  {{ lookup('community.hashi_vault.hashi_vault',
    'secret=secret/data/secret/qbittorrent:password token=' ~ vault_token ~ ' url=' ~ vault_addr) }}
    
media_containers:
  - name: sonarr
    image: linuxserver/sonarr:latest
    ports:
      - "8989:8989"
    volumes:
      - "{{ base_media_path }}/config/sonarr:/config"
      - "{{ base_media_path }}/tv:/tv"
      - "{{ base_media_path }}/downloads/complete:/downloads"
    env:
      WEBUI_PORT: "8989"

  - name: radarr
    image: linuxserver/radarr:latest
    ports:
      - "7878:7878"
    volumes:
      - "{{ base_media_path }}/config/radarr:/config"
      - "{{ base_media_path }}/movies:/movies"
      - "{{ base_media_path }}/downloads/complete:/downloads"
    env:
      WEBUI_PORT: "7878"

  - name: prowlarr
    image: linuxserver/prowlarr:latest
    ports:
      - "9696:9696"
    volumes:
      - "{{ base_media_path }}/config/prowlarr:/config"
    env:
      WEBUI_PORT: "9696"

  - name: qbittorrent
    image: linuxserver/qbittorrent:latest
    ports:
      - "8080:8080"
    volumes:
      - "{{ base_media_path }}/config/qbittorrent:/config"
      - "{{ base_media_path }}/downloads/complete:/downloads"
    env:
      WEBUI_PORT: "8080"
      WEBUI_USER: "{{ qbittorrent_user }}"
      WEBUI_PASSWORD: "{{ qbittorrent_password }}"

  - name: jellyfin
    image: linuxserver/jellyfin:latest
    ports:
      - "8096:8096"
    volumes:
      - "{{ base_media_path }}/config/jellyfin:/config"
      - "{{ base_media_path }}/tv:/media/tv"
      - "{{ base_media_path }}/movies:/media/movies"
    env:
      WEBUI_PORT: "8096"

timezone: "Europe/London"
