name: Infra Orchestration Pipeline

on:
  push:
    branches: [main]
    paths:
      - 'terraform/**'
      - 'ansible/**'
  pull_request:
    branches: [main]

env:
  VAULT_ADDR: http://192.168.50.169:8200
  VAULT_TOKEN: root
  TF_VAR_vault_token: root
  TF_VAR_proxmox_api_url: "https://192.168.50.2:8006/api2/json"
  TF_VAR_proxmox_user: "root@pam"
  TF_VAR_proxmox_password: "Tomtom22!"

jobs:
  secrets:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        run: |
          cd $GITHUB_WORKSPACE
          ls -la

      - name: Install Vault CLI
        run: |
          curl -fsSL https://apt.releases.hashicorp.com/gpg | gpg --dearmor | tee /usr/share/keyrings/hashicorp-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | tee /etc/apt/sources.list.d/hashicorp.list
          apt-get update && apt-get install -y vault
          vault --version
      
      - name: Generate SSH Key if not present
        run: |
          mkdir -p ~/.ssh
          [ -f ~/.ssh/media-stack_worker_id_ed25519 ] || ssh-keygen -t ed25519 -N "" -f ~/.ssh/media-stack_worker_id_ed25519
      
      - name: Write SSH Key to Vault
        run: |
          vault kv put secret/ssh_keys/media-stack_worker \
            public=@$HOME/.ssh/media-stack_worker_id_ed25519.pub \
            private=@$HOME/.ssh/media-stack_worker_id_ed25519

  terraform:
    needs: secrets
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Terraform Init
        run: |
          cd terraform/media-stack
          terraform init

      - name: Terraform Plan
        run: |
          cd terraform/media-stack
          terraform plan

      - name: Terraform Apply
        run: |
          cd terraform/media-stack
          terraform apply -auto-approve

  ansible:
    needs: terraform
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        run: |
          cd $GITHUB_WORKSPACE
          ls -la
      
      - name: Retrieve SSH key from Vault
        run: |
          mkdir -p ~/.ssh
          vault kv get -field=private secret/ssh_keys/media-stack_worker > ~/.ssh/media-stack_worker_id_ed25519
          chmod 600 ~/.ssh/media-stack_worker_id_ed25519
      
      - name: Run Ansible playbook
        run: |
          cd $GITHUB_WORKSPACE
          ansible-playbook -i inventory.yml ansible/media-stack/media-stack_pb.yml
