name: Infra Orchestration Pipeline

on:
  push:
    branches: [main]
    paths:
      - 'terraform/**'
      - 'ansible/**'
  pull_request:
    branches: [main]

env:
  VAULT_ADDR: http://192.168.50.169:8200
  VAULT_TOKEN: root

jobs:
  secrets:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        run: |
          if [ -d "$GITHUB_WORKSPACE" ]; then
            cd "$GITHUB_WORKSPACE"
          fi
      
      - name: Generate SSH Key if not present
        run: |
          mkdir -p .ssh
          [ -f .ssh/id_ed25519 ] || ssh-keygen -t ed25519 -N "" -f .ssh/id_ed25519
      
      - name: Write SSH Key to Vault
        run: |
          vault kv put secret/ssh_keys/media-stack_worker \
            public=@.ssh/id_ed25519.pub \
            private=@.ssh/id_ed25519

  terraform:
    needs: secrets
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        run: |
          if [ -d "$GITHUB_WORKSPACE" ]; then
            cd "$GITHUB_WORKSPACE"
          fi
      
      - name: Terraform Init
        working-directory: terraform/media-stack
        run: |
          terraform init
      
      - name: Terraform Plan
        working-directory: terraform/media-stack
        run: |
          terraform plan
      
      - name: Terraform Apply
        working-directory: terraform/media-stack
        run: |
          terraform apply -auto-approve

  ansible:
    needs: terraform
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        run: |
          if [ -d "$GITHUB_WORKSPACE" ]; then
            cd "$GITHUB_WORKSPACE"
          fi
      
      - name: Run Ansible playbook
        run: |
          ansible-playbook ansible/media-stack/media-stack_pb.yml
