name: Infra Orchestration Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  VAULT_ADDR: ${{ secrets.VAULT_ADDR }}
  VAULT_TOKEN: ${{ secrets.VAULT_TOKEN }}

jobs:
  secrets:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Prepare /app workspace
        run: |
          mkdir -p /app
          cp -r . /app
      - name: Write SSH Key to Vault
        run: |
          vault kv put secret/ssh_keys/media-stack_worker public="@/app/.ssh/id_ed25519.pub" private="@/app/.ssh/id_ed25519"
        env:
          VAULT_TOKEN: $"root"  # set manually for act


  ansible:
    needs: secrets
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Prepare /app workspace
        run: |
          mkdir -p /app
          cp -r . /app
      - name: Install Ansible
        run: |
          pip install ansible
      - name: Install Ansible and requirements
        run: |
          pip install ansible hvac
          ansible-galaxy collection install community.hashi_vault
      - name: Run Ansible playbook
        working-directory: /app
        run: |
          ansible-playbook ansible/media-stack/media-stack_pb.yml

  terraform:
    needs: ansible
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Prepare /app workspace
        run: |
          mkdir -p /app
          cp -r . /app
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
      - name: Run Terraform Init/Plan/Apply
        working-directory: /app/terraform/media-stack
        run: |
          terraform init
          terraform plan
          terraform apply -auto-approve
